<div class="container-fluid">
    <div class="row">
        {% for aml in site.ml %}
        <div class="col-sm card_col">
            <a href="{{aml.url}}">
                <div class="card" style="width: 17rem">
                    <div class="card-body">
                        <h5 class="card-title">{{ aml.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ aml.en_title }}</h6>
                        <p class="card-text">{{ aml.updated }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>