<div class="container-fluid">
    <div class="row">
        {% assign sorted = (site.statistics | sort: 'chapter') %}
        {% for statis in sorted %}
        <div class="card_col col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
            <a href="{{statis.url}}">
                <div class="card basic_card mg-1">
                    <div class="card-body">
                        <h5 class="card-title">Ch{{statis.chapter}}.{{ statis.title}}</h5>
                        <p class="card-text">{{ statis.updated }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>