
.logo a{
    text-decoration:none !important;
    color: inherit;
}

.subject_link {
    text-decoration:none !important;
}

.subject_link:hover{
    color: lightblue;
}

.card_col a{
    text-decoration: none !important;
    background: none;
    color: inherit;
}

.card_col a:hover .card_col a:focus {
    text-decoration: none !important;
    background: none;
    color: inherit;
    
}

.basic_card:hover {
    border-width: 0.1rem;
    border-color: #181818;
}